label {
    font-size: 20px;
    font-family: 'Courier New', monospace;
    color: rgb(255, 100, 0);
    position: absolute;
    top: 51%;
    left: 40%;
}

input {
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-family: 'Courier New', monospace;
    position: absolute;
    top: 50%;
    left: 50%;
}